<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx      
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
       default-autowire="byName">

    <bean id="heganfengSource" class="org.apache.tomcat.jdbc.pool.DataSource"
          destroy-method="close">

        <property name="driverClassName" value="${mysql.driver}" />
        <property name="url" value="${mysql.url}" />
        <property name="username" value="${mysql.user}" />
        <property name="password" value="${mysql.pwd}" />

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="${initialSize}" />
        <property name="minIdle" value="${minIdle}" />
        <property name="maxActive" value="${maxActive}" />
        <property name="maxIdle" value="${maxIdle}" />
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait" value="${maxWait}" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" />
        <!-- 验证 -->
        <property name="validationQuery" value="${validationQuery}" />
        <property name="testOnBorrow" value="${testOnBorrow}" />
        <property name="testOnReturn" value="${testOnReturn}" />
        <property name="testWhileIdle" value="${testWhileIdle}" />
    </bean>

    <bean id="heganfengSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource">
            <ref bean="heganfengSource"/>
        </property>
        <property name="configLocation" value="classpath:config/spring-gouge-mybatis.xml"/>
        <!-- 配置mapper.xml???? 跟 mybatis-config.xml中有什么区别?
        <property name="mapperLocations" value="classpath*:dao/*.xml"/> -->
        <property name="mapperLocations">
            <list>
                <value>classpath*:mapperxml/*.xml</value>
                <value>classpath*:mapperxmlext/*.xml</value>
            </list>
        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=mysql
                            reasonable=false
                            rowBoundsWithCount=true
                            offsetAsPageNum=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!-- 扫描映射-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gouge.dao"/>
        <property name="sqlSessionFactoryBeanName" value="heganfengSqlSessionFactory"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="heganfengSource"/>
        </property>
    </bean>


    <tx:advice transaction-manager="transactionManager" id="defaultTransactionAdvice">
        <tx:attributes>
            <tx:method name="search*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="query*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="load*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="valid*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="list*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="pay*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="send*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="jhelpSvrTransactionPolicy"
                      expression=" execution(* com.gouge.*.service..*.*(..)) or
                       execution(* com.gouge.service..*.*(..)) "/>

        <aop:advisor id="jhelpSvrTransactionAdvisor" advice-ref="defaultTransactionAdvice"
                     pointcut-ref="jhelpSvrTransactionPolicy"/>
    </aop:config>
</beans>
