<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-autowire="byName">

	<!-- 扫描框架相关的服务包 @Service/@Repository-->
    <context:component-scan base-package="com.gouge">
    	<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
    
    <!-- dao基础服务 -->
    <bean id="dao" class="net.jhelp.maas.mybatis.MybatisDaoSupport" init-method="init">
        <property name="sqlSessionFactory">
            <ref bean="heganfengSqlSessionFactory"/>
        </property>
        <!-- <property name="customCmd" value="net.jhelp.core.mybatis.NewPageCmd"/> -->
    </bean>
<!-- service facade 服务-->
    <bean id="svrMain" class="net.jhelp.maas.spring.SpringMaasBus"></bean>

    <bean id="springContextUtil" class="com.gouge.quartz.util.SpringContextUtil"/>
    <!--<bean class="com.gouge.cmb.quartz.startup.InstantiationTracingBeanPostProcessor"/>-->
</beans>